@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#dropdown-menu-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-t .nav .link,
#dropdown-menu-t .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-t .navbar,
#dropdown-menu-t .dropdown-menu {
  background: #333333;
}
#dropdown-menu-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-t .dropdown-menu a:hover,
#dropdown-menu-t .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-t .navbar-toggler {
  color: #ffffff;
}
#slider-3 H1 {
  text-align: left;
  font-family: 'Oswald', sans-serif;
}
#slider-3 P {
  text-align: left;
}
#header1-h H1 {
  text-align: left;
  color: #000000;
}
#header1-h P {
  color: #000000;
}
#features1-k P {
  color: #ffffff;
}
#header1-e H1 {
  text-align: center;
}
#header1-e P {
  font-size: 14px;
}
#dropdown-menu-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-t .nav .link,
#dropdown-menu-t .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-t .navbar,
#dropdown-menu-t .dropdown-menu {
  background: #333333;
}
#dropdown-menu-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-t .dropdown-menu a:hover,
#dropdown-menu-t .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-t .navbar-toggler {
  color: #ffffff;
}
#features1-o P {
  color: #efefef;
}
#features1-j P {
  color: #efefef;
}
#dropdown-menu-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-t .nav .link,
#dropdown-menu-t .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-t .navbar,
#dropdown-menu-t .dropdown-menu {
  background: #333333;
}
#dropdown-menu-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-t .dropdown-menu a:hover,
#dropdown-menu-t .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-t .navbar-toggler {
  color: #ffffff;
}
